@model vehiculosCRUD.Models.Vehiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patente" class="control-label"></label>
                <input asp-for="Patente" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IdPropietario" class="control-label"></label>
                <select asp-for="IdPropietario" class ="form-control" asp-items="ViewBag.IdPropietario"></select>
            </div>

            <div class="form-group">
                <label asp-for="IdMarca" class="control-label"></label>
                <select asp-for="IdMarca" class ="form-control" asp-items="ViewBag.IdMarca"></select>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CantPuertas" class="control-label"></label>
                <input asp-for="CantPuertas" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
